.section1 {
    .zone2 {
        border-radius: 15px;
    }
    > div {
        > h1 {
            font-size: 2rem;
            margin: none !important;
            padding: none !important;
        }
    }
}
