.section1{
    >div{
        >h1{
            font-size: 2rem;
            margin:none !important;
            padding:none !important;
            
        }

        >.callout{
            
        }
    }
}